body{
    margin: 0;
    padding: 0;

    background-size: cover;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}
.Table {
    display: table;
    position: absolute;
    top: 45%;
    left: 25%;
    width: 900px;
}

.Heading {
    display: table-row;
    font-weight: bold;
    text-align: center;
    background: rgb(139, 139, 139);
}

.Row {
    display: table-row;
    background: rgb(185, 184, 184);;
}
.Row .row2{
    background: rgb(139, 139, 139);
}

.Cell {
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    
}
#logo{
    width: 180px;
    height: 180px;
    position: absolute;
    left: 45%;
}
.cuadro{
    width: 900px;
    height: 70px;
    background: rgb(255, 255, 255);
    position: absolute;
    top: 290px;
    left: 25%;
    border: solid;
    border-width: thin;
}
#titulo {
    position: absolute;
    top: 200px;
    left: 25%;
}

#Search {
    position: absolute;
    top: 255px;
    left: 25%;
}
#from {
    position: absolute;
    top: 10px;
    left: 80px;
}
#aut {
    position: absolute;
    top: 37%;
    left: 170px;
}
#to {
    position: absolute;
    top: 10px;
    left: 450px;
}
#aut2 {
    position: absolute;
    top: 37%;
    left: 500px;
}
#find {
    position: absolute;
    top: 37%;
    left: 85%;
    width: 100px;
}
#login {
    width: 150px;
    height: 50px;
    border: solid;
    border-color: aqua;
    position: absolute;
    top: 25px;
    left: 1700px;
    font-size: 20px;
}
#results {
    position: absolute;
    top: 380px;
    left: 25%;
}