body {
    margin: 0;
    padding: 0;

    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}

.Tabla {
    display: table;
    width: 90%;
    margin: 1% 1% 1% 1%;
    padding: 2%;
}

#logo {
    margin: 1%;
    width: 180px;
    height: 180px;
}

.cuadro {
    margin: 1% 1% 1% 1%;
    width: 90%;
    border: solid;
    border-width: thin;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}
#titulo {
    margin: 1%;
    top: 200px;
    left: 25%;
}

#Search {
    margin: 1%;
    top: 255px;
    left: 25%;
}

#from {
    margin: 5px;
}

#aut {
    margin: 5px;
}

#to {
    margin: 1%;
}

#aut2 {
    margin: 5px;
}

#find {
    margin-left: 3%;
}

#login {
    border: solid;
    border-color: aqua;
    font-size: 20px;
    text-decoration: none;
    color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 5%;
}
#btnLogin {
    text-align: right;
}
#results {
    margin: 1%;
    top: 370px;
    left: 25%;
}

table {
    width: 100%;
    top: 200px;
    border: 1px solid #000;
    text-align: left;
    border-collapse: collapse;
    margin: 0 0 1em 0;
    caption-side: top;
    background-color: #cdcdcd;
}

.odd th,
.odd td {
    background: #eee;
}

caption,
td,
th {
    padding: 0.3em;
}

th,
td {
    border-bottom: 1px solid #000;
    width: 25%;
    border-left: 1px solid #000;
}

.btnView {
    cursor: pointer;
}

.contenedor {
    width: 100%;
    margin: 0 auto;
    overflow: hiddens;
}

@media screen and(max-width: 600px) {
    .cuadro {
        width: 100%;
        display: block;
    }
}

@media screen and(max-width: 400px) {
    .contenedor {
        width: 100%;
    }
    .cuadro {
        display: block;
    }
}